.btn-login{
    -fx-background-radius: 10px;
    -fx-background-color:  #366DDA;
    -fx-border-radius: 10px;
    -fx-border-color: #366DDA;
    -fx-border-width: 2px;
    -fx-text-color: #FFFFFF;
}
.btn-login:hover{
    -fx-background-radius: 10px;
    -fx-background-color:  #4F84EC;
    -fx-border-radius: 10px;
    -fx-border-color: #4F84EC;
    -fx-border-width: 2px;
    -fx-text-color: #FFFFFF;
}

/*the styling of the top navigatiion bar in the main pages top portion*/
.btnClose{
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}
.btnClose:hover{
    -fx-background-color: #E81123;
    -fx-background-radius: 0;
}
.icon-Close{
}
.icon-Close:hover{
    -fx-icon-color: #ffffff;
}
.btnMaximize{
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}
.btnMaximize:hover{
    -fx-background-color: #E9E9E9;
    -fx-background-radius: 0;
}
.btnMinimize{
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}
.btnMinimize:hover{
    -fx-background-color: #E9E9E9;
    -fx-background-radius: 0;
}
.tile-type1{
    -fx-background-color: #FBFBFB;
    -fx-background-radius: 20;
}
.searchField-text{
    -fx-background-color: transparent;
}
.searchField-outerBox{
    -fx-background-color: transparent;
    -fx-border-color: #000000;
    -fx-border-radius: 30;
}
.back_forword_Button{
    -fx-background-color: transparent;
}
.file_menu_items{
    -fx-background-color: transparent;
    -fx-border-radius: 0;
    -fx-border-width: 0;
}